.header-menu {
  list-style: none;
}

.header-link {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
}
.intro-headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}

.intro-description {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.intro-button {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.img-intro {
  position: absolute;
  width: 243px;
  height: 243px;
  left: 760px;
  top: 210px;
  background: url(image.png);
}

.Recent-posts {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  display: flex;
  align-items: flex-end;
  color: #21243d;
}

.Posts {
  position: absolute;
  width: 1152px;
  height: 396px;
  left: 0px;
  top: 595px;
}

.Post-headline {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
}

.posts-data {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
}

.posts-span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
}

.post-text1 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.View-all-post {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #00a8cc;
}

.posts-headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
}

.posts-span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
}

.post-text2 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}
