.header-menu {
  list-style: none;
}

.header-link {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
}
.intro-headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
}

.intro-description {
  font-family: "Heebo";
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.intro-button {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.img-intro {
  font-family: "Heebo";
  position: absolute;
  width: 243px;
  height: 243px;
  left: 760px;
  top: 210px;
  background: url(image.png);
}

.Recent-posts {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  display: flex;
  align-items: flex-end;
  color: #21243d;
}

.Posts {
  font-family: "Heebo";
  position: absolute;
  width: 1152px;
  height: 396px;
  left: 0px;
  top: 595px;
}

.Post-headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
}

.posts-data {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
}

.posts-span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
}

.post-text1 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.View-all-post {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #00a8cc;
}

.posts-headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
}

.posts-span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
}

.post-text2 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.Featured-works {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
}

.img-Dashboard {
  position: absolute;
  width: 246px;
  height: 180px;
  left: 157px;
  top: 1092px;
  background: url(image.png);
  border-radius: 6px;
}

.section-works-headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
}

.span-Dashboard {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
}

.works-description {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.img-works-Illustration {
  position: absolute;
  width: 246px;
  height: 180px;
  left: 168px;
  top: 1318px;
  background: url(image.png);
  border-radius: 6px;
}

.section-works-headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
}

.span-works-Illustration {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
}

.works-description {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.img-Rectangle-34.png {
  position: absolute;
  width: 246px;
  height: 184px;
  left: 168px;
  top: 1564px;
  background: url(image.png);
  border-radius: 6px;
}

.section-works-headline {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
}

.span-works-Typography-2018 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8695a4;
}

.works-description {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.footer-link-socials-fb {
  position: absolute;
  width: 30px;
  height: 30px;
  left: calc(50% - 30px / 2 - 102px);
  top: calc(50% - 30px / 2 - 25px);
  background: #21243d;
}

.footer-socials-link-instagram {
  position: absolute;
  width: 15.46px;
  height: 15.46px;
  left: calc(50% - 15.46px / 2 - 37px);
  top: calc(50% - 15.46px / 2 - 25px);
  background: #21243d;
}

.footer-socials-link-twitter {
  position: absolute;
  left: 51.13%;
  right: 45.67%;
  top: 28.02%;
  bottom: 55.49%;
}

.footer-socials-link-linkedin {
  position: absolute;
  width: 30px;
  height: 30px;
  left: calc(50% - 30px / 2 + 100px);
  top: calc(50% - 30px / 2 - 25px);
  background: #21243d;
}

.footer-copyright {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243d;
}
